@model IEnumerable<WebApplication5.Models.Order>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Список заказов</h2>
    <a asp-controller="Orders" asp-action="Create" class="btn btn-primary me-xxl-4  w-25">
        <i class="fas fa-plus"></i> +
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Город отправителя</th>
            <th>Город получателя</th>
            <th>Вес груза</th>
            <th>Дата забора</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.SenderCity</td>
                <td>@order.RecipientCity</td>
                <td>@order.CargoWeight кг</td>
                <td>@order.PickupDate.ToString("dd.MM.yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.Id" class="btn btn-info">Просмотр</a>
                </td>
            </tr>
        }
    </tbody>
</table>
